{{- with .GetTerms "persons_places" }}
  {{- $count := . | len -}}
  {{- $desktop := site.Params.image.xsmall | default false -}}
  {{- $mobile := site.Params.image.xsmall | default false -}}
  <aside class="list list-places">
    <p>{{ i18n "places.title" $count }}</p>
    <ul>
      {{- range . }}
        {{- $place := partial "func/GetRealPlace" . -}}
        {{- with $place }}
          <li>
            {{- with .Params.image}}
              {{ partial "commons/image.html" (dict
                "src" .src
                "alt" .alt
                "desktop" $desktop
                "mobile" $mobile
                "picture_class" "avatar"
              ) }}
            {{ end -}}
            <div>
              <a href="{{ .Permalink }}">{{ partial "func/PrepareHTML.html" .Title }}</a>
              {{- with .Params.address }}
                <br><span>{{ partial "func/PrepareHTML.html" .city }}, {{ partial "func/PrepareHTML.html" .country }}</span>
              {{ end -}}
            </div>
          </li>
        {{ end -}}
      {{ end -}}
    </ul>
  </aside>
{{ end -}}