{{- $section := "persons" }}
{{- $pages := partial "func/GetPagesFromTaxonomy" (dict
  "section" $section
  "taxonomy" "persons_places"
  "slug" .File.TranslationBaseName
  "title" .Title)
}}
{{- $pages = sort ($pages) "Params.persons_statutes" }}

{{- with $pages }}
  {{- $title := partial "func/PrepareHTML.html" $.Title }}
  {{- partial "commons/related.html" (dict
    "section" $section
    "pages" .
    "title" (i18n "places.discover_persons" (dict "Title" ($title | lower)))
  ) }}
{{- end }}
